%form#status.form-horizontal{role: 'form'}
  .form-group
    %label.col-sm-2.control-label{for: 'state'} Job ID
    %input#job_id{type: number}
  .form-group
    %label.col-sm-2.control-label{for: 'state'} State
    %select#state
      %option Picked Up
      %option Delivered
  .form-group
    %button.btn.btn-default{type: submit} Submit

%table.table
  %thead
    %tr
      %th Job ID
      %th State
      %th When
  %tbody
    - @statuses.each do |status|
      %tr
        %td= status.job_id
        %td= status.state
        %td= status.status_time
